# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
venv
*.venv
env

# Jupyter Notebook
.ipynb_checkpoints

# macOS system files
.DS_Store

# Visual Studio Code settings
.vscode
